/*
----------------------------------------------------------

#Filters

----------------------------------------------------------
*/
@media (min-width: 960px) {
  .isotope-filters.has-extra-filters .menu-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .isotope-filters.has-extra-filters .menu-horizontal.text-center {
    justify-content: center;
  }
  .isotope-filters.has-extra-filters .menu-horizontal.text-right,
  .isotope-filters.has-extra-filters .menu-horizontal.text-right .extra-filters-wrapper {
    flex-direction: row-reverse;
  }
}
.isotope-filters .uncode-woocommerce-sorting__link,
.isotope-filters .uncode-woocommerce-toggle-widgetized-cb__link {
  line-height: 1.2em;
}
:not(.px-gutter).isotope-filters ul.menu-smart .uncode-woocommerce-sorting-dropdown {
  margin-top: 0 !important;
}
.px-gutter.isotope-filters ul.menu-smart .uncode-woocommerce-sorting-dropdown {
  margin-top: 1px !important;
}
@media (min-width: 960px) {
  body:not(.rtl) .isotope-filters ul.menu-smart .uncode-woocommerce-sorting-dropdown {
    text-align: left;
  }
  body.rtl .isotope-filters ul.menu-smart .uncode-woocommerce-sorting-dropdown {
    left: 0 !important;
    right: auto !important;
    text-align: right;
  }
}
.isotope-filters ul.menu-smart .uncode-woocommerce-sorting-dropdown li {
  display: block !important;
}
.uncode-woocommerce-sorting__link:after,
.uncode-woocommerce-toggle-widgetized-cb__link:after {
  display: inline-block;
  font-family: "uncodeicon";
  content: "\f0d7";
  font-size: 12px;
  position: relative;
  top: 1px;
}
body:not(.rtl) .uncode-woocommerce-sorting__link:after,
body:not(.rtl) .uncode-woocommerce-toggle-widgetized-cb__link:after {
  margin-left: 9px;
}
@media (max-width: 959px) {
  body:not(.rtl) .text-mobile-center .uncode-woocommerce-sorting__link:after,
  body:not(.rtl) .text-mobile-center .uncode-woocommerce-toggle-widgetized-cb__link:after {
    margin-right: -9px;
  }
}
body.rtl .uncode-woocommerce-sorting__link:after,
body.rtl .uncode-woocommerce-toggle-widgetized-cb__link:after {
  margin-right: 9px;
}
@media (max-width: 959px) {
  body.rtl .text-mobile-center .uncode-woocommerce-sorting__link:after,
  body.rtl .text-mobile-center .uncode-woocommerce-toggle-widgetized-cb__link:after {
    margin-left: -9px;
  }
}
.text-right .uncode-woocommerce-sorting__link:after,
.text-right .uncode-woocommerce-toggle-widgetized-cb__link:after {
  display: none;
}
.text-right .uncode-woocommerce-sorting__link:before,
.text-right .uncode-woocommerce-toggle-widgetized-cb__link:before {
  content: "\f0d7";
  display: inline-block;
  font-family: "uncodeicon";
  font-size: 12px;
  margin-right: 9px;
}
.no-sorting-icon .uncode-woocommerce-sorting__link:after,
.no-filter-icon .uncode-woocommerce-toggle-widgetized-cb__link:after,
.no-sorting-icon .uncode-woocommerce-sorting__link:before,
.no-filter-icon .uncode-woocommerce-toggle-widgetized-cb__link:before {
  display: none;
}
.no-text-uppercase .mobile-toggle-trigger {
  letter-spacing: 0 !important;
  text-transform: none !important;
}
@media (min-width: 960px) {
  .woocommerce-result-count-wrapper.text-right {
    text-align: right !important;
  }
  .woocommerce-result-count-wrapper.text-left {
    text-align: left !important;
  }
}
@media (max-width: 959px) {
  .text-mobile-center {
    text-align: center;
  }
  .text-mobile-left {
    text-align: left;
  }
  .text-mobile-right {
    text-align: right;
  }
}
.isotope-filters.with-bg .extra-filters-wrapper {
  padding-right: 36px;
  padding-left: 36px;
}
.isotope-filters.with-bg .woocommerce-result-count-wrapper {
  padding-top: 36px;
  padding-left: 36px;
  padding-right: 36px;
}
@media (min-width: 960px) {
  body:not(.rtl) .isotope-filters.with-bg .text-right .extra-filters-wrapper {
    padding-right: 0;
    padding-left: 36px;
  }
  body.rtl .isotope-filters.with-bg .text-right .extra-filters-wrapper {
    padding-left: 0;
    padding-right: 36px;
  }
  body:not(.rtl) .isotope-filters.with-bg .text-right .woocommerce-result-count-wrapper {
    padding-right: 36px;
    padding-left: 0;
  }
  body.rtl .isotope-filters.with-bg .text-right .woocommerce-result-count-wrapper {
    padding-left: 36px;
    padding-right: 0;
  }
  body:not(.rtl) .isotope-filters.with-bg .text-center .extra-filters-wrapper {
    margin-left: 18px;
    padding-left: 0;
  }
  body.rtl .isotope-filters.with-bg .text-center .extra-filters-wrapper {
    margin-right: 18px;
    padding-right: 0;
  }
  body:not(.rtl) .isotope-filters.with-bg .text-center .woocommerce-result-count-wrapper {
    margin-right: 36px;
    padding-right: 0;
  }
  body.rtl .isotope-filters.with-bg .text-center .woocommerce-result-count-wrapper {
    margin-left: 36px;
    padding-left: 0;
  }
}
@media (min-width: 960px) {
  .extra-filters-wrapper {
    display: flex !important;
    align-items: center;
  }
  .extra-filters-wrapper .menu-smart > li > a {
    padding-bottom: 36px;
  }
  .isotope-filters.with-bg .extra-filters-wrapper {
    padding-top: 36px;
  }
  .isotope-filters.with-bg .extra-filters-wrapper > ul {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .extra-filters-wrapper > ul > li > a {
    padding-left: 11px;
    padding-right: 11px;
  }
  body:not(.rtl) .extra-filters-wrapper > ul:first-child > li > a {
    padding-left: 0;
  }
  body.rtl .extra-filters-wrapper > ul:first-child > li > a {
    padding-right: 0;
  }
  body:not(.rtl) .extra-filters-wrapper > ul:last-child > li > a {
    padding-right: 0;
  }
  body.rtl .extra-filters-wrapper > ul:last-child > li > a {
    padding-left: 0;
  }
  body:not(.rtl) .text-right .extra-filters-wrapper > ul:first-child > li > a {
    padding-left: 11px;
  }
  body.rtl .text-right .extra-filters-wrapper > ul:first-child > li > a {
    padding-right: 11px;
  }
  body:not(.rtl) .text-right .extra-filters-wrapper > ul:last-child > li > a {
    padding-right: 11px;
  }
  body.rtl .text-right .extra-filters-wrapper > ul:last-child > li > a {
    padding-left: 11px;
  }
  body:not(.rtl) .text-right .extra-filters-wrapper > ul:last-child > li > a {
    padding-left: 0;
  }
  body.rtl .text-right .extra-filters-wrapper > ul:last-child > li > a {
    padding-right: 0;
  }
  body:not(.rtl) .text-right .extra-filters-wrapper > ul:first-child > li > a {
    padding-right: 0;
  }
  body.rtl .text-right .extra-filters-wrapper > ul:first-child > li > a {
    padding-left: 0;
  }
  body:not(.rtl) .has-cat-filters .extra-filters-wrapper,
  body:not(.rtl) .has-result-count .extra-filters-wrapper {
    margin-left: 54px;
  }
  body.rtl .has-cat-filters .extra-filters-wrapper,
  body.rtl .has-result-count .extra-filters-wrapper {
    margin-right: 54px;
  }
  body:not(.rtl) .has-cat-filters .text-right .extra-filters-wrapper,
  body:not(.rtl) .has-result-count .text-right .extra-filters-wrapper {
    margin-left: 0;
    margin-right: 54px;
  }
  body.rtl .has-cat-filters .text-right .extra-filters-wrapper,
  body.rtl .has-result-count .text-right .extra-filters-wrapper {
    margin-right: 0;
    margin-left: 54px;
  }
}
.has-extra-filters .woocommerce-result-count {
  color: inherit;
  float: none;
  font-size: .9em;
  line-height: 0;
  padding-bottom: 36px;
  text-transform: none;
}
@media (max-width: 959px) {
  .has-extra-filters .woocommerce-result-count {
    padding-bottom: 18px;
  }
}
.woocommerce-result-count-wrapper .woocommerce-result-count {
  margin-top: 0;
  float: none !important;
}
.woocommerce-result-count-wrapper--bottom {
  margin-top: 18px;
}
.with-bg .woocommerce-result-count-wrapper--bottom {
  margin-top: -9px;
}
@media (min-width: 960px) {
  .woocommerce-result-count-wrapper--bottom {
    margin-top: -12px;
  }
  .with-bg .woocommerce-result-count-wrapper--bottom {
    padding-top: 0 !important;
  }
}
.widgetized-cb-wrapper {
  display: none;
  overflow: hidden;
  position: relative;
}
.widgetized-cb-wrapper.px-gutter {
  top: -1px;
}
.widgetized-cb-wrapper.half-gutter {
  top: -18px;
}
.widgetized-cb-wrapper.single-gutter {
  top: -36px;
}
.widgetized-cb-wrapper.double-gutter,
.widgetized-cb-wrapper.triple-gutter,
.widgetized-cb-wrapper.quad-gutter {
  top: -72px;
}
@media (max-width: 959px) {
  .widgetized-cb-wrapper.double-gutter,
  .widgetized-cb-wrapper.triple-gutter,
  .widgetized-cb-wrapper.quad-gutter {
    top: -36px;
  }
}
@media (max-width: 569px) {
  .isotope-filters:not(.filter-typography-inherit) + .widgetized-cb-wrapper .widget-mobile-collapse .widget-title {
    font-size: 11px;
  }
}
@media (max-width: 959px) {
  .isotope-filters:not(.filter-typography-inherit) + .widgetized-cb-wrapper .widget-tablet-collapse .widget-title {
    font-size: 11px;
  }
}
.isotope-filters.filter-typography-inherit .mobile-toggle-trigger,
.isotope-filters.filter-typography-inherit ul.menu-smart a {
  font-family: inherit !important;
  font-weight: inherit !important;
  font-size: .9em !important;
  letter-spacing: 0 !important;
}
.uncode-woocommerce-sorting-dropdown__link {
  line-height: 1.1em;
}
