/*
----------------------------------------------------------

#Comments

----------------------------------------------------------
*/
#comments .comments-title,
#respond .comments-title,
#comments #reply-title,
#respond #reply-title {
  margin: 54px 0px 0px 0px;
}
#comments .btn-comments,
#respond .btn-comments {
  padding: 5px 10px !important;
  font-size: 12px;
}
#comments .comment-list .comments-list:first-child,
#respond .comment-list .comments-list:first-child {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 54px;
}
#comments .comments-list .comment-content,
#respond .comments-list .comment-content {
  border-top-width: 1px;
  border-top-style: solid;
}
#cancel-comment-reply-link {
  display: block;
  padding: 36px 0px 36px 0px;
}
.comment-notes {
  font-weight: normal;
  margin: 9px 0px 0px 0px;
}
.comment-list {
  padding: 0;
}
.comment-list li {
  list-style-type: none;
}
.comment {
  margin: 45px 0px 0px 0px;
}
div.comment-meta.post-meta {
  margin-left: 0;
  padding: 0px 18px 18px 18px;
  border-width: 0px;
  border-style: solid;
  border-color: transparent;
  border-radius: 2px;
  background-clip: padding-box;
}
@media (min-width: 960px) {
  div.comment-meta.post-meta {
    margin-left: 90px;
  }
  .align_center div.comment-meta.post-meta {
    margin-left: 0;
  }
  .align_right div.comment-meta.post-meta {
    margin-left: auto;
    margin-right: 90px;
  }
}
section.child-comments.comments-list {
  padding: 0px 0px 0px 90px;
}
@media (max-width: 959px) {
  section.child-comments.comments-list {
    padding: 0px 0px 0px 18px;
  }
}
.comment-content {
  position: relative;
  padding: 54px 0px 0px 0px;
}
.comment-respond .comment-content {
  flex: 0 0 100%;
}
.comment-content .comment-meta {
  padding-bottom: 0px !important;
}
.align_left .comment-content .comment-meta {
  padding-right: 0px !important;
}
.align_right .comment-content .comment-meta {
  padding-left: 0px !important;
}
@media (max-width: 959px) {
  .comment-content .comment-meta {
    padding: 0px !important;
  }
}
.comment-content .gravatar {
  float: left;
}
.align_center .comment-content .gravatar {
  float: none;
  margin-bottom: 18px;
}
.align_right .comment-content .gravatar {
  float: right;
}
@media (max-width: 959px) {
  .comment-content .gravatar {
    float: none;
  }
}
.comment-content .gravatar img.avatar {
  max-width: 72px;
  min-height: 72px;
}
@media (min-width: 960px) {
  .comment-content .gravatar img.avatar {
    display: block;
  }
}
.comment-content .logged-in-as {
  display: inline-block;
  margin: 9px 0px 0px 0px;
  font-size: 12px;
}
@media (max-width: 959px) {
  .comment-content .logged-in-as {
    margin: 0px 18px 27px 0px;
  }
}
.comment-content .comment-author {
  display: inline-block;
  text-transform: capitalize;
  margin: 0px 0px 0px 0px;
}
.comment-content .comment-meta p {
  margin: 9px 0px 0px 0px;
}
.comment-content .comment-meta-item {
  margin: 9px 0px 0px 0px;
  display: block;
}
.comment-content .comment-meta-item,
.comment-content .comment-reply-link span {
  font-size: 11px;
}
.comment-content .comment-reply-link {
  margin: 18px 0px 0px 0px;
  display: block;
  text-transform: uppercase;
}
@media (min-width: 960px) {
  .comment-content .comment-reply-link {
    position: absolute;
    top: 0;
    right: 0;
    margin: 54px 0px 0px 0px;
  }
}
.comment-form .comment-form-comment label {
  text-indent: -9999px;
  position: absolute;
  left: -9999px;
}
.comment-form .comment-form-comment.comment-loggedin {
  margin-top: 0px !important;
}
.comment-form .comment-form-comment.comment-loggedin textarea {
  margin-top: 0px;
}
.comment-form .comment-figure {
  width: 90px;
  float: left;
}
.comment-form .comment-figure .gravatar {
  margin: 0;
}
@media (max-width: 959px) {
  .comment-form .comment-figure {
    width: 100%;
  }
}
.comment-form .comment-figure .clearfix::after {
  height: 18px;
}
@media (min-width: 960px) {
  .comments-area .form-indent .comment-form .form-submit {
    margin-left: 108px;
  }
}
.form-submit {
  margin: 27px 0px 0px 0px;
}
.gravatar img.avatar {
  max-width: 5em;
  min-height: 5em;
  border-radius: 50%;
  background-clip: padding-box;
  margin: 0 auto;
}
#comment-nav-below {
  margin-top: 36px;
}
.comment-navigation a {
  white-space: nowrap;
}
.comment-navigation .page-next,
.comment-navigation .page-prev {
  width: auto;
}
