.row .uncode-post-table .uncode-post-table-column[class*=col-lg-] {
  padding: 0;
  padding-top: 0;
  vertical-align: top;
}
.uncode-post-table-valign-bottom.uncode-post-table .uncode-post-table-column[class*=col-lg-] {
  vertical-align: bottom;
}
.uncode-post-table-valign-middle.uncode-post-table .uncode-post-table-column[class*=col-lg-] {
  vertical-align: middle;
}
.uncode-post-table .uncode-post-table-column img {
  width: 100%;
}
@media (max-width: 569px) {
  .uncode-post-table .uncode-post-table-column[class*=col-md-]:not([class*=col-sm-]) {
    width: 100% !important;
  }
}
.px-gutter.uncode-post-table .tmb-table-border .t-inside-post-table {
  padding-bottom: 1px;
}
.half-gutter.uncode-post-table .tmb-table-border .t-inside-post-table {
  padding-bottom: 18px;
}
.single-gutter.uncode-post-table .tmb-table-border .t-inside-post-table {
  padding-bottom: 36px;
}
.double-gutter.uncode-post-table .tmb-table-border .t-inside-post-table {
  padding-bottom: 72px;
}
.triple-gutter.uncode-post-table .tmb-table-border .t-inside-post-table {
  padding-bottom: 108px;
}
.quad-gutter.uncode-post-table .tmb-table-border .t-inside-post-table {
  padding-bottom: 144px;
}
@media (min-width: 570px) and (max-width: 959px) {
  .tablet-stacked.uncode-post-table .tmb-table-border .t-inside-post-table {
    padding-bottom: 36px !important;
  }
}
@media (max-width: 569px) {
  .mobile-stacked.uncode-post-table .tmb-table-border .t-inside-post-table {
    padding-bottom: 36px !important;
  }
}
.uncode-post-table .t-table-icon {
  line-height: 0;
}
.tmb.tmb-table {
  position: relative;
}
.tmb.tmb-table.tmb-click-row,
.tmb.tmb-table.tmb-click-row * {
  cursor: pointer;
}
.tmb.tmb-table.tmb-click-row a,
.tmb.tmb-table.tmb-click-row p {
  pointer-events: none !important;
}
.tmb.tmb-table .table-click-row {
  display: block;
  position: absolute;
}
.tmb.tmb-table .t-inside {
  position: relative;
}
.px-gutter.uncode-post-table .tmb.tmb-table .t-inside {
  padding-top: 1px;
}
.half-gutter.uncode-post-table .tmb.tmb-table .t-inside {
  padding-top: 18px;
}
.single-gutter.uncode-post-table .tmb.tmb-table .t-inside {
  padding-top: 36px;
}
.double-gutter.uncode-post-table .tmb.tmb-table .t-inside {
  padding-top: 72px;
}
.triple-gutter.uncode-post-table .tmb.tmb-table .t-inside {
  padding-top: 108px;
}
.quad-gutter.uncode-post-table .tmb.tmb-table .t-inside {
  padding-top: 144px;
}
@media (min-width: 570px) and (max-width: 959px) {
  .tablet-stacked .tmb.tmb-table .t-inside {
    padding-top: 36px !important;
  }
}
@media (max-width: 569px) {
  .mobile-stacked .tmb.tmb-table .t-inside {
    padding-top: 36px !important;
  }
}
.tmb-table-border-between:not(:last-child).tmb.tmb-table .t-inside {
  border-bottom: 1px solid transparent;
}
.tmb-table-border-below.tmb.tmb-table .t-inside {
  border-bottom: 1px solid transparent;
}
.tmb-table-border-both:first-child.tmb.tmb-table .t-inside {
  border-top: 1px solid transparent;
}
.tmb.tmb-table:not(.tmb-table-border-both):first-child .t-inside {
  padding-top: 0 !important;
}
.tmb.tmb-table:not(.tmb-table-border-below):last-child .t-inside-post-table {
  padding-bottom: 0 !important;
}
.tmb.tmb-table .t-inside-post-table {
  box-sizing: content-box;
  display: table;
  width: 100%;
}
.tmb-table-half-h-padding.tmb.tmb-table .t-inside-post-table {
  margin-left: -18px;
  padding-left: 18px;
}
.tmb-table-single-h-padding.tmb.tmb-table .t-inside-post-table {
  margin-left: -36px;
  padding-left: 36px;
}
.tmb-table-double-h-padding.tmb.tmb-table .t-inside-post-table {
  margin-left: -72px;
  padding-left: 72px;
}
.tmb-table-triple-h-padding.tmb.tmb-table .t-inside-post-table {
  margin-left: -108px;
  padding-left: 108px;
}
.tmb-table-quad-h-padding.tmb.tmb-table .t-inside-post-table {
  margin-left: -144px;
  padding-left: 144px;
}
.tmb.tmb-table .uncode-post-table-column {
  text-align: left;
}
.tmb-table-no-h-padding.tmb.tmb-table .uncode-post-table-column {
  padding-left: 0;
}
.tmb-table-half-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child) {
  padding-left: 18px;
}
@media (min-width: 570px) and (max-width: 959px) {
  .tmb-table-half-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 18px;
    padding-left: 0;
  }
}
@media (max-width: 569px) {
  .tmb-table-half-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-sm-"]) {
    padding-top: 18px;
    padding-left: 0;
  }
}
.tmb-table-single-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child) {
  padding-left: 36px;
}
@media (min-width: 570px) and (max-width: 959px) {
  .tmb-table-single-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 36px;
    padding-left: 0;
  }
  :not(.mobile-single-gutter) .tmb-table-single-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 9px;
  }
  .mobile-single-gutter .tmb-table-single-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 18px;
  }
}
@media (max-width: 569px) {
  .tmb-table-single-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-sm-"]) {
    padding-top: 36px;
    padding-left: 0;
  }
  :not(.mobile-single-gutter) .tmb-table-single-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-sm-"]) {
    padding-top: 9px;
  }
  .mobile-single-gutter .tmb-table-single-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-sm-"]) {
    padding-top: 18px;
  }
}
.tmb-table-double-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child) {
  padding-left: 72px;
}
@media (min-width: 570px) and (max-width: 959px) {
  .tmb-table-double-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child)[class*="col-md-"] {
    padding-left: 36px;
  }
  .tmb-table-double-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 36px;
    padding-left: 0;
  }
  :not(.mobile-single-gutter) .tmb-table-double-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 9px;
  }
  .mobile-single-gutter .tmb-table-double-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 18px;
  }
}
@media (max-width: 569px) {
  .tmb-table-double-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child)[class*="col-sm-"] {
    padding-left: 36px;
  }
  .tmb-table-double-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-sm-"]) {
    padding-top: 36px;
    padding-left: 0;
  }
  :not(.mobile-single-gutter) .tmb-table-double-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-sm-"]) {
    padding-top: 9px;
  }
  .mobile-single-gutter .tmb-table-double-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-sm-"]) {
    padding-top: 18px;
  }
}
.tmb-table-triple-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child) {
  padding-left: 108px;
}
@media (min-width: 570px) and (max-width: 959px) {
  .tmb-table-triple-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child)[class*="col-md-"] {
    padding-left: 36px;
  }
  .tmb-table-triple-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 36px;
    padding-left: 0;
  }
  :not(.mobile-single-gutter) .tmb-table-triple-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 9px;
  }
  .mobile-single-gutter .tmb-table-triple-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 18px;
  }
}
@media (max-width: 569px) {
  .tmb-table-triple-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child)[class*="col-sm-"] {
    padding-left: 36px;
  }
  .tmb-table-triple-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-sm-"]) {
    padding-top: 36px;
    padding-left: 0;
  }
  :not(.mobile-single-gutter) .tmb-table-triple-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-sm-"]) {
    padding-top: 9px;
  }
  .mobile-single-gutter .tmb-table-triple-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-sm-"]) {
    padding-top: 18px;
  }
}
.tmb-table-quad-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child) {
  padding-left: 144px;
}
@media (min-width: 570px) and (max-width: 959px) {
  .tmb-table-quad-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child)[class*="col-md-"] {
    padding-left: 72px;
  }
  .tmb-table-quad-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 36px;
    padding-left: 0;
  }
  :not(.mobile-single-gutter) .tmb-table-quad-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 9px;
  }
  .mobile-single-gutter .tmb-table-quad-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 18px;
  }
}
@media (max-width: 569px) {
  .tmb-table-quad-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child)[class*="col-sm-"] {
    padding-left: 36px;
  }
  .tmb-table-quad-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 36px;
    padding-left: 0;
  }
  :not(.mobile-single-gutter) .tmb-table-quad-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 9px;
  }
  .mobile-single-gutter .tmb-table-quad-h-padding.tmb.tmb-table .uncode-post-table-column:not(:first-child):not([class*="col-md-"]) {
    padding-top: 18px;
  }
}
.tmb-content-justify.tmb.tmb-table .uncode-post-table-column {
  text-align: justify;
}
.tmb-content-justify.tmb.tmb-table .uncode-post-table-column hr {
  margin-left: auto !important;
  margin-right: auto !important;
}
.tmb-content-center.tmb.tmb-table .uncode-post-table-column {
  text-align: center;
}
.tmb-content-center.tmb.tmb-table .uncode-post-table-column hr {
  margin-left: auto !important;
  margin-right: auto !important;
}
.tmb-content-left.tmb.tmb-table .uncode-post-table-column {
  text-align: left;
}
.tmb-content-left.tmb.tmb-table .uncode-post-table-column hr {
  margin-right: auto !important;
  margin-left: 0 !important;
}
.tmb-content-left.tmb.tmb-table .uncode-post-table-column .separator-reduced {
  margin-left: 0;
}
.tmb-content-right.tmb.tmb-table .uncode-post-table-column {
  text-align: right;
}
.tmb-content-right.tmb.tmb-table .uncode-post-table-column hr {
  margin-right: 0 !important;
  margin-left: auto !important;
}
.tmb-content-right.tmb.tmb-table .uncode-post-table-column .separator-reduced {
  margin-right: 0;
}
.tmb.tmb-table .uncode-post-table-column p,
.tmb.tmb-table .uncode-post-table-column a {
  word-wrap: break-word;
}
@media (min-width: 960px) {
  .tmb-content-last-justify.tmb.tmb-table .uncode-post-table-column:last-child {
    text-align: justify;
  }
  .tmb-content-last-justify.tmb.tmb-table .uncode-post-table-column:last-child hr {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (min-width: 570px) and (max-width: 959px) {
  .tmb-content-last-justify.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-md-"] {
    text-align: justify;
  }
  .tmb-content-last-justify.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-md-"] hr {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (max-width: 569px) {
  .tmb-content-last-justify.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-sm-"] {
    text-align: justify;
  }
  .tmb-content-last-justify.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-sm-"] hr {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (min-width: 960px) {
  .tmb-content-last-center.tmb.tmb-table .uncode-post-table-column:last-child {
    text-align: center;
  }
  .tmb-content-last-center.tmb.tmb-table .uncode-post-table-column:last-child hr {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (min-width: 570px) and (max-width: 959px) {
  .tmb-content-last-center.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-md-"] {
    text-align: center;
  }
  .tmb-content-last-center.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-md-"] hr {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (max-width: 569px) {
  .tmb-content-last-center.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-sm-"] {
    text-align: center;
  }
  .tmb-content-last-center.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-sm-"] hr {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (min-width: 960px) {
  .tmb-content-last-left.tmb.tmb-table .uncode-post-table-column:last-child {
    text-align: left;
  }
  .tmb-content-last-left.tmb.tmb-table .uncode-post-table-column:last-child hr {
    margin-right: auto !important;
    margin-left: 0 !important;
  }
}
@media (min-width: 570px) and (max-width: 959px) {
  .tmb-content-last-left.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-md-"] {
    text-align: left;
  }
  .tmb-content-last-left.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-md-"] hr {
    margin-right: auto !important;
    margin-left: 0 !important;
  }
}
@media (max-width: 569px) {
  .tmb-content-last-left.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-sm-"] {
    text-align: left;
  }
  .tmb-content-last-left.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-sm-"] hr {
    margin-right: auto !important;
    margin-left: 0 !important;
  }
}
@media (min-width: 960px) {
  .tmb-content-last-right.tmb.tmb-table .uncode-post-table-column:last-child {
    text-align: right;
  }
  .tmb-content-last-right.tmb.tmb-table .uncode-post-table-column:last-child hr {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
}
@media (min-width: 570px) and (max-width: 959px) {
  .tmb-content-last-right.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-md-"] {
    text-align: right;
  }
  .tmb-content-last-right.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-md-"] hr {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
}
@media (max-width: 569px) {
  .tmb-content-last-right.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-sm-"] {
    text-align: right;
  }
  .tmb-content-last-right.tmb.tmb-table .uncode-post-table-column:last-child[class*="col-sm-"] hr {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
}
@media (min-width: 570px) and (max-width: 959px) {
  .tablet-stacked .tmb-content-mobile-justify.tmb.tmb-table .uncode-post-table-column {
    text-align: justify;
  }
  .tablet-stacked .tmb-content-mobile-justify.tmb.tmb-table .uncode-post-table-column hr {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .tablet-stacked .tmb-content-mobile-center.tmb.tmb-table .uncode-post-table-column {
    text-align: center;
  }
  .tablet-stacked .tmb-content-mobile-center.tmb.tmb-table .uncode-post-table-column hr {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .tablet-stacked .tmb-content-mobile-left.tmb.tmb-table .uncode-post-table-column {
    text-align: left;
  }
  .tablet-stacked .tmb-content-mobile-left.tmb.tmb-table .uncode-post-table-column hr {
    margin-right: auto !important;
    margin-left: 0 !important;
  }
  .tablet-stacked .tmb-content-mobile-left.tmb.tmb-table .uncode-post-table-column .separator-reduced {
    margin-left: 0;
  }
  .tablet-stacked .tmb-content-mobile-right.tmb.tmb-table .uncode-post-table-column {
    text-align: right;
  }
  .tablet-stacked .tmb-content-mobile-right.tmb.tmb-table .uncode-post-table-column hr {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
  .tablet-stacked .tmb-content-mobile-right.tmb.tmb-table .uncode-post-table-column .separator-reduced {
    margin-right: 0;
  }
}
@media (max-width: 569px) {
  .mobile-stacked .tmb-content-mobile-justify.tmb.tmb-table .uncode-post-table-column {
    text-align: justify;
  }
  .mobile-stacked .tmb-content-mobile-justify.tmb.tmb-table .uncode-post-table-column hr {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .mobile-stacked .tmb-content-mobile-center.tmb.tmb-table .uncode-post-table-column {
    text-align: center;
  }
  .mobile-stacked .tmb-content-mobile-center.tmb.tmb-table .uncode-post-table-column hr {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .mobile-stacked .tmb-content-mobile-left.tmb.tmb-table .uncode-post-table-column {
    text-align: left;
  }
  .mobile-stacked .tmb-content-mobile-left.tmb.tmb-table .uncode-post-table-column hr {
    margin-right: auto !important;
    margin-left: 0 !important;
  }
  .mobile-stacked .tmb-content-mobile-left.tmb.tmb-table .uncode-post-table-column .separator-reduced {
    margin-left: 0;
  }
  .mobile-stacked .tmb-content-mobile-right.tmb.tmb-table .uncode-post-table-column {
    text-align: right;
  }
  .mobile-stacked .tmb-content-mobile-right.tmb.tmb-table .uncode-post-table-column hr {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
  .mobile-stacked .tmb-content-mobile-right.tmb.tmb-table .uncode-post-table-column .separator-reduced {
    margin-right: 0;
  }
}
.tmb.tmb-table .t-table-author img + .tmb-username-wrap-block {
  display: block;
  margin-top: 9px;
}
.tmb.tmb-table .t-table-author .tmb-username-wrap {
  display: inline-block;
}
.tmb.tmb-table .t-table-author .tmb-username-wrap .tmb-username-wrap-block {
  display: block;
}
.tmb.tmb-table .t-table-author .tmb-username-wrap .tmb-username-text {
  display: block;
}
.tmb.tmb-table .t-table-author .tmb-username-wrap .tmb-user-qualification {
  display: block;
  font-size: .96em;
  font-weight: normal;
  opacity: .5;
  line-height: 1.25;
}
.tmb.tmb-table .t-table-author i {
  margin: 0px 6px 0px 0px;
}
.tmb.tmb-table .t-table-author span {
  vertical-align: middle;
}
.tmb-content-under.tmb.tmb-table .t-table-author span,
.tmb-content-lateral.tmb.tmb-table .t-table-author span {
  font-weight: 600;
}
.tmb.tmb-table .t-icon-button {
  font-size: 1em;
}
.tmb.tmb-table .t-icon-button.t-icon-size-sm {
  font-size: 0.75em;
}
.tmb.tmb-table .t-icon-button.t-icon-size-md {
  font-size: 1.25em;
}
.tmb.tmb-table .t-icon-button.t-icon-size-lg {
  font-size: 1.5em;
}
.tmb.tmb-table .t-icon-button.t-icon-size-xl {
  font-size: 2em;
}
@media (min-width: 570px) and (max-width: 959px) {
  .uncode-post-table .uncode-post-table-column:not(:last-child):not([class*="col-md-"]) .t-entry-visual:last-child {
    margin-bottom: 18px;
  }
}
@media (max-width: 569px) {
  .uncode-post-table .uncode-post-table-column:not(:last-child):not([class*="col-sm-"]) .t-entry-visual:last-child {
    margin-bottom: 18px;
  }
}
.uncode-post-table.uncode-post-table-hover .t-inside-post-table {
  transition: opacity 0.3s ease-out;
}
.uncode-post-table.uncode-post-table-hover.uncode-post-table-hover-opacity .t-inside:hover .t-inside-post-table,
.uncode-post-table.uncode-post-table-hover.uncode-post-table-hover-opacity-inverted.post-table-hover .t-inside:not(:hover) .t-inside-post-table {
  opacity: 0.35;
}
