/*
----------------------------------------------------------

#Widgets

----------------------------------------------------------
*/
.widget-container.widget-style .widget-title {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0px 0px 27px 0px;
}
.widget-container .widget-title {
  word-break: break-word;
  margin: 0px 0px 27px 0px;
  margin-top: 0;
}
.col-widgets-sidebar .widget-container .widget-title {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0px 0px 27px 0px;
}
footer .widget-container .widget-title {
  border: 0;
  padding: 0;
}
.widget-container a {
  font-weight: 500;
}
.widget-container ul {
  margin-top: -3px !important;
}
.widget-container ul li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.widget-container ul > li > ul {
  margin-top: 0 !important;
  margin-left: 10px;
}
footer .widget-container ul > li > ul {
  margin: 0;
}
.widget-container .widget-title + form {
  margin-top: 30px;
}
.widget-container.widget_recent_entries a {
  display: block;
}
.widget-container.widget_recent_entries .post-date {
  font-size: 11px;
  display: block;
  margin-bottom: 9px;
}
.widget-container .widget-title + .tagcloud {
  margin-top: 30px;
}
.widget-container.widget_rss img {
  display: none;
}
.widget-container.widget_rss .rss-date {
  display: block;
  font-size: 11px;
}
.widget-container.widget_rss cite {
  font-style: italic;
}
.widget-container.widget_text .widget-title + img {
  margin: 18px 0px 0px 0px;
}
.widget-container.widget_text .textwidget {
  margin-top: -4px;
}
.widget-container.widget_media_image .widget-title + img {
  margin-top: 3px;
}
.widget-container.widget_calendar .widget-title + #calendar_wrap #wp-calendar {
  margin-top: 30px;
}
.widget-container.widget_calendar #wp-calendar {
  width: 100%;
  margin-top: 0;
}
.widget-container.widget_calendar #wp-calendar caption {
  text-align: center;
  padding: 9px 9px 9px 9px;
  border-style: solid;
  border-width: 1px 1px 0 1px;
}
.widget-container.widget_calendar table#wp-calendar td,
.widget-container.widget_calendar table#wp-calendar th {
  text-align: center;
  padding: 9px 9px 8px 9px;
  font-size: 12px;
}
.widget-container.widget_calendar .wp-calendar-nav {
  font-size: .8em;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding: 9px 9px 9px 9px;
  display: flex;
}
.widget-container.widget_calendar .wp-calendar-nav .pad {
  display: none;
}
.widget-container.widget_calendar .wp-calendar-nav-prev,
.widget-container.widget_calendar .wp-calendar-nav-next {
  width: 50%;
}
.widget-container.widget_calendar .wp-calendar-nav-next {
  text-align: right;
}
.widget-container.widget_archive li a:before,
.widget-container.widget_categories li a:before,
.widget-container.widget_meta li a:before,
.widget-container.widget_product_categories li a:before,
.widget-container.widget_sorting li a:before {
  font-family: "uncodeicon";
  content: "\f105";
  margin-right: 12px;
  margin-top: 3px;
}
.widget-container.widget_top_rated_products li,
.widget-container.widget_recent_reviews li {
  padding-left: 18px;
  position: relative;
}
.widget-container.widget_top_rated_products li:before,
.widget-container.widget_recent_reviews li:before {
  font-family: "uncodeicon";
  content: "\e664";
  position: absolute;
  font-size: 8px;
  left: 0px;
  top: 4px;
}
footer .widget-container.widget_top_rated_products li:before,
footer .widget-container.widget_recent_reviews li:before {
  content: '';
}
footer .widget-container.widget_top_rated_products li,
footer .widget-container.widget_recent_reviews li {
  padding-left: 0;
}
.widget-container.widget_pages .children {
  margin-left: 10px;
}
.widget-container.widget_nav_menu.widget-style .menu-horizontal,
.widget-container.widget_custom_menu.widget-style .menu-horizontal {
  padding-left: 0;
  padding-right: 0;
}
.widget-container.widget_nav_menu.widget-style .menu-horizontal a,
.widget-container.widget_custom_menu.widget-style .menu-horizontal a {
  padding-right: 14px;
}
.widget-container.widget_nav_menu li,
.widget-container.widget_custom_menu li {
  text-transform: uppercase;
}
.widget-container.widget_nav_menu li a,
.widget-container.widget_custom_menu li a {
  font-size: 12px;
  display: inline-block;
  padding: 0px 0px 5px 0px;
}
.widget-container.widget_nav_menu .menu-item a:before,
.widget-container.widget_custom_menu .menu-item a:before {
  font-family: "uncodeicon";
  content: "\f105";
  margin-right: 9px;
  margin-top: 3px;
}
.widget-container.widget_latest_tweets_widget li:first-child .tweet-text,
.widget-container.widget_latest_tweets li:first-child .tweet-text {
  margin-top: 0;
}
.widget-container.widget_latest_tweets_widget .tweet-details,
.widget-container.widget_latest_tweets .tweet-details {
  padding-left: 1.5em;
  margin: 0px 0px 0px 0px;
}
.widget-container.widget_latest_tweets_widget .tweet-text,
.widget-container.widget_latest_tweets .tweet-text {
  position: relative;
  padding-left: 1.5em;
  margin: 5px 0px 0px 0px;
}
.widget-container.widget_latest_tweets_widget .tweet-text:before,
.widget-container.widget_latest_tweets .tweet-text:before {
  font-family: "uncodeicon";
  content: "\f099";
  font-size: 16px;
  margin-left: .5em;
  position: absolute;
  margin-left: -1.5em;
}
.widget-container.widget_search i {
  margin-top: -6px !important;
}
.widget-container.widget_search input[type="search"] {
  width: 100%;
  margin-top: 0;
}
.widget_nav_menu li.active > a {
  text-decoration: none;
}
.widget_nav_menu .menu-smart.menu-horizontal .sub-menu {
  display: none;
}
.widget-no-arrows li a:before {
  display: none !important;
}
.widget-no-separator .widget-title {
  border-bottom-width: 0 !important;
  padding-bottom: 0 !important;
}
@media (max-width: 959px) {
  .widget-mobile-collapse .collapse-init * {
    display: none;
  }
  .widget-mobile-collapse .collapse-init .widget-title {
    display: block;
  }
  .widget-mobile-collapse .widget-title {
    cursor: pointer;
    position: relative;
    margin-bottom: 18px;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
    border-bottom-width: 1px !important;
  }
  .align_left .widget-mobile-collapse .widget-title {
    padding-left: 0 !important;
    padding-right: 20px !important;
  }
  .align_right .widget-mobile-collapse .widget-title {
    padding-left: 20px !important;
    padding-right: 0 !important;
  }
  .widget-mobile-collapse .widget-title:after {
    content: "\e114";
    font-family: "uncodeicon";
    font-size: 1em;
    margin-top: 0px;
    font-weight: normal;
    margin-right: 0;
    position: absolute;
    transform: rotate(0);
    transition: transform 200ms ease-out;
  }
  .align_left .widget-mobile-collapse .widget-title:after {
    left: auto !important;
    right: 0 !important;
  }
  .align_right .widget-mobile-collapse .widget-title:after {
    left: 0 !important;
    right: auto !important;
  }
  .widget-mobile-collapse .widget-title.open:after {
    transform: rotate(45deg);
  }
  .widget-collapse-content {
    display: none;
    padding-top: 9px;
    padding-bottom: 45px;
    position: relative;
  }
  .widget-collapse-content:after {
    content: '';
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    bottom: -27px;
    position: relative;
  }
  .widget-collapse-content form {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .widget-collapse-content ul:last-child {
    margin-bottom: -3px;
  }
  .widget-collapse-content #wp-calendar {
    margin-top: 3px !important;
  }
  .widget-collapse-content #calendar_wrap {
    margin-bottom: 3px !important;
  }
  .widget-collapse-content .tagcloud {
    margin-top: 3px;
    margin-bottom: -6px;
  }
  .widget-collapse-content .textwidget {
    margin-top: -27px !important;
  }
  .widget-collapse-content .widget_shopping_cart_content {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .widget-mobile-collapse .widget-container,
  .widget-mobile-collapse.widget-container {
    overflow: hidden;
  }
  .mobile-last-collapse-widget.widget-mobile-collapse {
    margin-bottom: -18px;
  }
  .mobile-first-collapse-widget.widget-mobile-collapse .widget-title {
    padding-top: 18px;
    border-top-width: 1px;
    border-top-style: solid;
  }
}
@media (max-width: 569px) {
  .main-container .row-container .row-parent .uncont > .widget-mobile-collapse {
    margin-top: -18px !important;
  }
  .main-container .row-container .row-parent .uncont > .widget-mobile-collapse.mobile-first-collapse-widget {
    margin-top: 0 !important;
  }
}
@media (max-width: 959px) {
  .main-container .row-container .row-parent .uncont > .widget-tablet-collapse {
    margin-top: -18px !important;
  }
  .main-container .row-container .row-parent .uncont > .widget-tablet-collapse.mobile-first-collapse-widget {
    margin-top: 0 !important;
  }
}
@media (max-width: 959px) {
  .widget-collapse-content {
    overflow: hidden;
    display: none;
  }
}
@media (min-width: 960px) {
  .widget-collapse-content {
    display: block !important;
  }
}
@media (min-width: 960px) {
  .widget-title--hide-desktop {
    display: none !important;
  }
}
@media (min-width: 570px) {
  .widget-no-tablet-collapse .widget-title {
    padding-top: 0 !important;
    cursor: auto;
  }
  .widget-no-tablet-collapse .widget-title:after {
    content: none;
  }
  .widget-no-tablet-collapse .widget-collapse-content {
    display: block !important;
    padding-top: 0;
    padding-bottom: 0;
  }
  .widget-no-tablet-collapse .widget-collapse-content:after {
    content: none;
  }
  .widget-no-tablet-collapse .widget-title--hide-desktop {
    display: none !important;
  }
  .widget-no-tablet-collapse.mobile-last-collapse-widget.widget-mobile-collapse {
    margin-bottom: 0;
  }
  .widget-no-tablet-collapse.mobile-first-collapse-widget.widget-mobile-collapse .widget-title {
    padding-top: 0 !important;
    border-top: none;
  }
  .widget-no-tablet-collapse.widget-no-separator .widget-title {
    border-bottom-width: 0 !important;
  }
}
@media (min-width: 570px) and (max-width: 959px) {
  .widget-no-tablet-collapse .widget-title {
    margin-bottom: 27px !important;
    padding-bottom: 27px !important;
  }
  .widget-no-separator.widget-no-tablet-collapse .widget-title {
    padding-bottom: 9px !important;
    margin-bottom: 18px !important;
  }
  .widget-no-tablet-collapse .widget-collapse-content form {
    margin-bottom: 0;
  }
  .widget-no-tablet-collapse .widget-collapse-content .tagcloud {
    margin-top: 3px;
  }
  .widget-no-tablet-collapse .widget-collapse-content .textwidget {
    margin-top: -21px !important;
  }
  .widget-no-tablet-collapse .widget-collapse-content .widget_shopping_cart_content {
    margin-top: 0;
  }
}
.widget-typography-inherit .widget-title {
  font-family: inherit !important;
  font-weight: inherit !important;
  font-size: inherit !important;
  letter-spacing: 0 !important;
  text-transform: none !important;
}
.widgettitle {
  margin-bottom: 27px;
  font-size: 20px !important;
}
